<%- include('../templates/head') -%>

    <div class="page-body about-us">
        <p>
            In 2020 our world changed. Facing an invisible threat, we now have to protect our faces in order to grocery shop and walk among the general public.
        </p>

        <p>
            As a country, we felt the blow of how ill-equipped and unprepared we were for such a disaster. As global medical supplies and face masks ran low, there was no way of obtaining more of what was desperately needed. There were not enough manufacturers in the US to meet the demand.
        </p>

        <p>
            That’s why we decided to step up and put our manufacturing resources to use.
        </p>

        <p>
            At HENRY Mask Co. not only are we able to supply the general public with the best personal protection Travel-Masks, we have also been able to create and provide jobs in the local community. And for every mask sold, a mask is donated to Healthcare workers and families in need.
        </p>

        <p>
            It’s A New Day.<br>
            Stay Prepared with HENRY Travel-Masks.
        </p>
    </div>

<%- include('../templates/foot') -%>