<%- include('../templates/head') -%>

<div class="page-body buy-share">
    <p>
        At HENRY Mask, with every purchase of a travel mask, we are donating a free mask to healthcare professionals on the frontlines of COVID_19 and to families in need.
    </p>

    <p>
        Sharing is caring, and what better way to show how much we care than to support those that are being impacted the most.
    </p>

    <p>
        We’re in this together.
    </p>

    <p>
        We’ll win this together.
    </p>

    <p>
        MASQED
    </p>
</div>

<%- include('../templates/foot') -%>