<%- include('../templates/head') -%>

<div class="page-body contact-us">
    <h1>Contact Us</h1>

    <div style="display: flex">
        <div style="flex: 1 1 50%; padding-right: 3em;">
            <h3>Find us at:</h3>
            <div>His Royal Dudeness Building</div>
            <div>Johannesburg</div>
            <div class="margin-top-1">Tel: 072 122 2098</div>
            <div class="margin-top-1">Email: info@masqed.co.za</div>
        </div>
        <div style="flex: 1 1 50%;">
            <h3>Write to us:</h3>
            <div class="form-control">
                <input type="text" placeholder="Full name">
            </div>
            <div class="form-control">
                <input type="email" placeholder="Email">
            </div>
            <div class="form-control">
                <textarea placeholder="Message" rows="5"></textarea>
            </div>
            <div align="right">
                <button class="buy-btn">Send</button>
            </div>
        </div>
    </div>
</div>

<%- include('../templates/foot') -%>