<%- include('../templates/head') -%>

    <div class="page-body home">
        <div class="flex">
            <div class="col ad-text">
                <h1 align="center">Comfortable Triple-Layer<br>Anti-Droplet Protection</h1>
                <h3 align="center">So light and breathable it feels like wearing nothing at all</h3>
                <div align="center" class="margin-top-2">
                    <a href="/products/" class="buy-btn">See our products</a>
                </div>
            </div>
            <div class="col ad-img ad1"></div>
        </div>
        <div class="flex">
            <div class="col ad-img ad2"></div>
            <div class="col ad-text">
                <h1 align="center">We’ve got you covered.</h1>
                <h3 style="font-weight: 500; text-align: center">
                    Looking for protection that's effective yet comfortable in these challenging times?
                    Learn why Advanced Nanotech Space Mask is the ultimate premium choice for you and your loved ones.
                </h3>
                <div align="center" class="margin-top-2">
                    <a href="/products/" class="buy-btn">read more</a>
                </div>
            </div>
        </div>
    </div>

<%- include('../templates/foot') -%>