<%- include('../templates/head') -%>

<div class="page-body instructions">
    <h3>How to put on a face mask:</h3>
    <ol>
        <li>Clean your hands with soap and water or hand sanitizer before touching the mask.</li>
        <li>Remove mask from the package and make sure there are no obvious tears or holes in either side of the mask.</li>
        <li>Determine which side of the mask is the front. The side of the mask displaying our Henry logo is the front and should face away from you.</li>
        <li>Hold the mask by the ear loops.</li>
        <li>Place a loop around each ear.</li>
        <li>Pull the bottom of the mask over your mouth and chin.</li>
    </ol>

    <h3 class="margin-top-2">How to remove a face mask:</h3>
    <ol>
        <li>Clean your hands with soap and water or hand sanitizer before touching the mask. Avoid touching the front of the mask. The front of the mask is contaminated. Only touch the ear loops/ties/band.</li>
        <li>Hold both of the ear loops and gently lift and remove the mask.</li>
        <li>Hand wash/Dry and Re-use.</li>
    </ol>
</div>

<%- include('../templates/foot') -%>